.wrapper {
  display: flex;
}

.side-bar {
background-color: #253141;
width: 300px;
height: 100vh;
}

.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-user a{
  color: #FAFAFA;
  font-size: 16px;
  background-color: #253141;
  text-decoration: none;
}

.new-chat-btn {
  font-size: 10px;
}

.new-chat-btn a{
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0px 20px;
  overflow: scroll;
}

.room-name {
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.main {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

.header-room_name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.exit-btn {
  margin-top: 40px;
}

.exit-btn a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0px 40px;
  overflow: scroll;
}

.message {
  padding: 10px 0;
  margin-bottom: 40px;
}

.message-top {
  display: flex;
}

.message-ser {
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.message-date {
  font-size: 12px;
  color: #999;
}

.message-content {
  font-size: 14px;
  color: #434A54;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}
.form-message {
  padding-left: 10px;
  height: 50px;
  border: none;
  width: 100%;
}

.form-send {
  color: white;
  font-size: 16px;
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
  height: 50px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}